#header{
    height: 100px;
    width: 1500px;
    background-color: red;
    position: relative;
}

#main{
    height: 600px;
    width: 1500px;
    background-color: lightblue;
}

#footer{
    height: 100px;
    width: 1500px;
    background-color: pink;
    
    
}

.main_xss{
    height: 600px;
    width: 1500px;
    background-color: lightgray;
    margin-top: -12px; /*needs a propertly fixing*/
        
}

.main_idor{
    height: 600px;
    width: 1500px;
    background-color: lightgray;
    margin-top: -12px; /*needs a propertly fixing*/
        
}

.main_sqli{
    height: 600px;
    width: 1500px;
    background-color: lightgray;
    margin-top: -12px; /*needs a propertly fixing*/
        
}

h1{
    text-align: left;
    font-family: monospace;
    padding: 30px 0px 0px 10px;
}

a{
    font-family: monospace;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    
    
}

p{
    font-family: monospace; 
}

/*Responsive Web Design for Desktop*/
.column-left{ 
    float: left; /*next update to the columns is using flexbox*/
    clear: left;
    width: 33.333%;
}

.column-right{
    float: right;
    clear: right;
    width: 33.333%;
}

.column-center{
    display: inline-block;
    width: 33.333%;
}

@media screen and (max-width: 800px){
    .column-left, #main, .column-right{
        width: 100%;
    }
}